# all virtaul envs of python
*venv*/

# service file of ide
.idea/

*/.ipynb_checkpoints/
dist
__pychache__/
*__pychache__*

# all jupyter notebook
*.ipynb

*.pyc
/__pycache__/
.env
/План_работы.txt
/test_folder/
/processed_documents/
/output/
/test_docx_structure.py
docx_structure_analysis.json
docx_to_markdownl.zip
/docx_to_markdownl
.pytest_cache
test_two_llm.py
/trash
/documentor_old
/test.py
/docs/docx_parser_diagram.md
ROADMAP.md
.coverage
md_output_test.txt
test_md_output.py
/documentor.egg-info/
/experiments1
/evaluation_scripts
/htmlcov
TODO.md
/.hypothesis
/.deepeval
/Plan.txt
/dots.ocr
/documentor/test_pdf_parser.py
/documentor/test_scanned_pdf_parser.py
/documentor/test_docx_parser.py
/documentor/ELEMENT_METADATA_STANDARD.md
1234.txt
documentor/**/__pycache__/
/docs/План_работы.txt
/docs/План_работы_16_01.txt
CODE_QUALITY_REPORT.md
/documentor/test_regular_pdf_parser.py
ПЛАН_РЕФАКТОРИНГА_DOTS_OCR.md
feature_list.txt
visualize_tables.py